In [1]:
path = "/Users/evangray/Desktop/Projects/prosperity/prosperity-3/Data Logs/Round 1/"

In [2]:
import pandas as pd
import numpy as np

In [6]:
log_path = "/Users/evangray/Desktop/Projects/prosperity/prosperity-3/Data Logs/Round 1/09125e0c-c6ff-4960-a771-9098bd41488b.csv"
df = pd.read_csv(log_path, delimiter =";")
df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,1,0,SQUID_INK,1834,23,NaN,NaN,NaN,NaN,1838,23,NaN,NaN,NaN,NaN,1836.0,0.000000
1,1,0,RAINFOREST_RESIN,9998,9,9995.0,23.0,NaN,NaN,10005,23,NaN,NaN,NaN,NaN,10001.5,0.000000
2,1,0,KELP,2032,23,NaN,NaN,NaN,NaN,2035,23,NaN,NaN,NaN,NaN,2033.5,0.000000
3,1,100,KELP,2034,1,2033.0,2.0,2032.0,22.0,2035,22,NaN,NaN,NaN,NaN,2034.5,0.000000
4,1,100,SQUID_INK,1837,1,1836.0,2.0,1835.0,22.0,1839,22,NaN,NaN,NaN,NaN,1838.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1,99800,SQUID_INK,1814,26,NaN,NaN,NaN,NaN,1817,26,NaN,NaN,NaN,NaN,1815.5,0.000000
2996,1,99800,RAINFOREST_RESIN,9996,1,9995.0,25.0,NaN,NaN,10002,5,10004.0,1.0,10005.0,25.0,9999.0,864.000000
2997,1,99900,SQUID_INK,1816,27,NaN,NaN,NaN,NaN,1819,28,NaN,NaN,NaN,NaN,1817.5,0.000000
2998,1,99900,RAINFOREST_RESIN,9998,6,9996.0,1.0,9995.0,27.0,10004,1,10005.0,27.0,NaN,NaN,10001.0,864.000000
2999,1,99900,KELP,2034,27,NaN,NaN,NaN,NaN,2038,28,NaN,NaN,NaN,NaN,2036.0,24.800781

In [12]:
squid_df = df[df["product"] == "SQUID_INK"]
kelp_df = df[df["product"] == "KELP"]
resin_df = df[df["product"] == "RAINFOREST_RESIN"]

In [15]:
resin_df
# Calculate average
resin_df['mid_price_avg'] = resin_df['mid_price'].expanding().mean().shift(1)

/var/folders/cn/yvfyzgz910bghnld237rzj3h0000gn/T/ipykernel_78609/3338520374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resin_df['mid_price_avg'] = resin_df['mid_price'].expanding().mean().shift(1)